html, body {
    height: 100%;
    background-color: $main-bg-color;
    font-family: 'Open Sans', sans-serif;
    //font-family: $open;
    -ms-overflow-style: scrollbar;
}

a:focus, .btn:active:focus, .btn:focus, button:focus{
    outline: none;
}

@media (min-width: 767px) {
    .upper-wrapper {
        min-height: calc(100vh - 323px);
    }
}
h2{
	color: $heading;
	font-weight:300;
	margin-top:70px;
	margin-bottom:30px;
}
h3{
	font-size:18px;
	margin-bottom: 50px;
}
p{
	color: $paragraph-text;
    font-size: 17px;
    line-height: 1.5;
    font-weight: 400;
    &.appliance{
    font-size:20px;
    color:$heading;
    }
}