// Colors
$dark-green: #12422b;
$medium-green: #1a5336; 
$light-green: #00a221; 
$light-grey: #efeff4;
$medium-grey: #c8c8c8;
$orange: #c65415;
$white: #ffffff;
$dark-grey: #1c1c1c;
$heading: #adadad;
$paragraph-text: #1c1c1c;

// Backgrounds
$navbar-bg: $dark-green;
$menu-open: $dark-grey;
$main-bg-color: $light-grey;
$btn-cancel-bg: $orange;
$btn-submit-bg: $light-green;
$footer-bg: $medium-green;

// Links
$white-link-hover: $light-green;